<?xml version="1.0"?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/>
  </startup>
  <system.serviceModel>
    <services>
      <service name="WCFTrafficControl.Services.OrganizitionService">
        <endpoint address="http://localhost:8815/OrganizitionService" binding="trafficControlBinding" contract="WCFTrafficControl.Contracts.ServiceContracts.IOrganizitionService" behaviorConfiguration="webBehavior">
        </endpoint>
      </service>
    </services>
    <behaviors>
      <endpointBehaviors>
        <behavior name="webBehavior">
          <webHttp />
        </behavior>
      </endpointBehaviors>
    </behaviors>
    <extensions>
        <bindingExtensions>
          <add name="trafficControlBinding" type="WCFTrafficControl.CustomBindings.TrafficControlCustomBindingCollectionElement, WCFTrafficControl.CustomBindings, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null" />
        </bindingExtensions>
    </extensions>
  </system.serviceModel>
</configuration>
